
.container {
    justify-content: space-around;
}

.boxdice {
    width: 650px;
    height: 150px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
}

.boxscore {
    width: 650px;
    height: 500px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.innercontainer {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20%;
    padding: 10px;
}
