
.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.boxdice {
    width: 750px;
    background: lightblue;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
}

.boxscore {
    width: 750px;
    background: lightblue;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
}

.innercontainer {
    width: 100px;
    height: 100px;
    background: white;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s ease;
}


.dice-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.special-row {
    background-color: #d3f4ff; 
    font-weight: bold;
}


.roll {
    padding: 10px 30px;
    font-size: 16px;
    background-color: grey;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.roll:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 6px;
}